<br />
<br />

<input type="text" [(ngModel)]="name" name="name" placeholder="name" />
<input type="number" [(ngModel)]="age" name="age" placeholder="age" />
<input type="text" [(ngModel)]="gender" name="gender" placeholder="gender" />
<button (click)="send()">Player input</button>

<br />
<br />
<button (click)="listAll()">Show players</button>
<br />
<br />

<div>
  <ul>
    <li *ngFor="let player of players">
      id: {{ player.id }} has name: {{ player.name }} , has age:
      {{ player.age }} and has gender: {{ player.gender }} and has hiscore: {{ player.hiscore }}
    </li>
  </ul>
</div>
<button (click)="showHiscore(1)">Hiscore</button>
