<div>
  <ul>
    <li *ngFor="let piece of pieces">id: {{piece.id}} has xpos: {{piece.xPosition}} , has ypos: {{piece.yPosition}} and has name: {{piece.name}}</li>
  </ul>
</div>



<button (click)="listAll()">show All Pieces</button>

<!-- <input type="text" [(ngModel)] = "move" name="move" placeholder="move"> -->
<!-- <button (click) ="movePiece()">send character</button> -->
<br />
<br />

<div>
  <button (click)="movePieceUp()" class="btn btn-dark">Move up</button>
  <br />
  <button (click)="movePieceLeft()" class="btn btn-dark">Move left</button>
  <button (click)="movePieceRight()" class="btn btn-dark">Move right</button>
  <br />
  <button (click)="movePieceDown()" class="btn btn-dark">Move down</button>
</div>

<br />
<br />


<table>
  <tr *ngFor ="let row of array">
    <td *ngFor = "let element of row">
        <img src= {{element}} />

  </td>
  </tr>
</table>
